wrapper->left-sidebar, main-content, right-sidebar
left-sidebar->ul->li->button .button-left
main-content->.content-head

img {
    display: block;
    max-width: 100%;

}
button{
    max-width: 100%;
    padding: 10px 20px;
    background-color: #00c6ff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out ;
    margin: 5px 10px;
    box-shadow: 0px 0px 5px 0px rgba(233, 231, 231, 0.6)
}

button:hover{
    background-color: #008fcc; 
}

body{
    font-family: arial;
    background-color: #0a0f1e;
    color: white;
    line-height: 1.6;
}

.wrapper{
    display: flex;
    justify-content: space-between;

}
.sidebar-left{
    /* border: 2px solid; */
    
}
ul{
    margin: 0;
    padding: 0;
}

.sidebar-left ul{ 
    /* border: 2px solid; */
    list-style: none;  
    

}
.button-left {
}

.main-content{
display: flex;
flex-direction: column;
align-items: center;
flex: 1;
/* border: 2px solid; */
/* Check height later */
height: 100vh; 

}

.sidebar-right{
 /* border: 2px solid; */
}
.content-head:hover{
    color: #00c6ff; /* Neon blue hover effect */
}
.content-head{
    display: flex;
    /* border: 2px solid; */
    width: 100%;
    align-items: center;
    background-color: #00c6ff70;
    
}
.content-head input{
    border-radius: 5px;
    margin-right: auto;
    margin-left: 10px;
}
.content-head button{
    margin-left: auto; 
    padding: 2px;
}