img {
    display: block;
    max-width: 100%;

}
button{
    max-width: 100%;
}
body{
    font-family: arial;
    background-color: #0a0f1e;
    color: white;
    line-height: 1.6;
}

.wrapper{
    display: flex;
    justify-content: space-between;

}
.sidebar-left{
    /* border: 2px solid; */
    
}
ul{
    margin: 0;
    padding: 0;
}

.sidebar-left ul{ 
    /* border: 2px solid; */
    list-style: none;  
    

}
.button-left {
}

.main-content{
display: flex;
flex-direction: column;
align-items: center;
flex: 1;
border: 2px solid;
/* Check height later */
/* height: 100vh;  */

}

.sidebar-right{
 /* border: 2px solid; */
}